<!-- <mat-toolbar color="primary">
    <span>Angular ng-container Material CRUD</span>
    <span class="spacer"></span>
    Refresh:
    <button mat-icon-button (click)="gotoList()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar> -->
<div class="container">
    <h3 mat-dialog-title>Create Form</h3>

    <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()" style="margin: 20px;">

       
        <div class="form" color="accent">
            <mat-form-field>
                <input formControlName="firstname" matTooltip="Enter Employee FirstName" matInput
                    placeholder="FirstName" autocomplete="off">
            </mat-form-field>
            <mat-error>
                <span *ngIf="!employeeForm.get('firstname').value && employeeForm.get('firstname').touched"></span>
            </mat-error>
        </div>


        <div class="form">
            <mat-form-field>
                <input formControlName="lastname" matTooltip="Enter Employee Last Name" matInput placeholder="lastname"
                    autocomplete="off">
            </mat-form-field>
            <mat-error>
                <span *ngIf="!employeeForm.get('lastname').value && employeeForm.get('lastname').touched"></span>
            </mat-error>
        </div>

        <div class="form">
            <mat-form-field>
                <input formControlName="email" matTooltip="Enter Employee email" matInput placeholder="email"
                    autocomplete="off">
            </mat-form-field>
            <mat-error>
                <span *ngIf="!employeeForm.get('email').value && employeeForm.get('email').touched"></span>
            </mat-error>
        </div>

        <div class="form" style="padding-bottom: 20px;">
            <button type="submit" mat-raised-button color="accent" matTooltip="Submit"
                [disabled]="!employeeForm.valid">Submit</button>
            <button type="button" mat-raised-button color="accent" matTooltip="Submit"
                style="margin-left: 20px;">Cancel</button>
        </div>
    </form>
</div>