
  <mat-toolbar color="primary">
    <span>Angular Material CRUD</span>
    <span class="spacer"></span>
    Refresh:
    <button mat-icon-button (click)="gotoList()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>
  <router-outlet></router-outlet>
  