

<div class="container mat-elevation-z8">
    <h2 mat-dialog-title>Update Form</h2>

    <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()" style="margin: 20px;">

       
        <div class="form" color="accent">
            <mat-form-field>
                <input formControlName="firstname" matTooltip="Enter Employee firstname" matInput
                    placeholder="firstname" autocomplete="off">
            </mat-form-field>
            <mat-error>
                <span *ngIf="!employeeForm.get('firstname').value && employeeForm.get('firstname').touched"></span>
            </mat-error>
        </div>


        <div class="form">
            <mat-form-field>
                <input formControlName="lastname" matTooltip="Enter Employee Last Name" matInput placeholder="lastname"
                    autocomplete="off">
            </mat-form-field>
            <mat-error>
                <span *ngIf="!employeeForm.get('lastname').value && employeeForm.get('lastname').touched"></span>
            </mat-error>
        </div>

        <div class="form">
            <mat-form-field>
                <input formControlName="email" matTooltip="Enter Employee email" matInput placeholder="email"
                    autocomplete="off">
            </mat-form-field>
            <mat-error>
                <span *ngIf="!employeeForm.get('email').value && employeeForm.get('email').touched"></span>
            </mat-error>
        </div>

        <div class="form" style="padding-bottom: 20px;">
            <button type="submit" mat-raised-button color="accent" matTooltip="Submit"
                [disabled]="!employeeForm.valid">Submit</button>
                <a routerLink="/list">
            <button type="button" mat-raised-button color="accent" matTooltip="Submit" 
                style="margin-left: 20px;">Cancel</button>
            </a>
        </div>
    </form>
</div>